			/*FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');
/*////////////////*/

			/* TIMELINE –––––––––––––––––––––––––––––––––––––––––––––––––– */
			*, *::before, *::after {
			  margin: 0;
			  padding: 0;
			  box-sizing: border-box;
			}

			/* TIMELINE –––––––––––––––––––––––––––––––––––––––––––––––––– */
			/*change background color here */
			.timeline ul {
			  padding: 50px 0;
			}

			.timeline ul li {
			  list-style-type: none;
			  position: relative;
			  width: 7px; /*change width of verticl line here */
			  margin: 0 auto;
			  padding-top: 50px;
			 
			  background-color: rgba(89,104,172,0.3); /*change color of verticl line here */
			}

			/*Creates the circle found along the vertical line*/
			.timeline ul li::after {
			  content: '';
			  position: absolute;
			  left: 50%;
			  bottom: 0;
			  transform: translateX(-50%);
			  width: 2.2vw;
			  height: 2.2vw;
			  border-radius: 50%;
			 background-color: #5F7AB0;

			}

			/* edit  computer screen here */
			.upper-half {
			  bottom: 0;
			  width: 400px;
			  padding: 15px 15px;
			  background-color: rgba(64,71,77, 0);/*change monitor's color here*/
			  border-radius: 15px;
			  border-style: solid;
			  border-width: 1%;
			  border-color: #4757A3;
			}

			/*edit lower hald of computer here 
			.bottom-half {
			  position: relative;
			  margin-top: 10px;
			  bottom: 0;
			  width: 565px;
			  background: #CCC5B9; 
			  padding: 25px;
			  border-style: solid;
			  border-width: 3px;
			  border-color: #5B6C5D;
			  border-radius: 10px;
			  text-align: center;
			}
			*/

			.timeline ul li div::before {
			  position: absolute;
			  width: 0;
			  height: 0;
			  border-style: solid;
			}

			.timeline ul li:nth-child(even) div {
			  right: 550px;
			}

			.timeline ul li:nth-child(odd) div {
			  left: 180px;
			}

			time {
			  display: block;
			  font-size: 1.2rem;
			  font-weight: bold;
			  margin-bottom: 8px;
			}


			/* EFFECTS –––––––––––––––––––––––––––––––––––––––––––––––––– */

			.timeline ul li::after {
			  transition: background .5s ease-in-out;
			}

			/*change color of circle here */
			.timeline ul li.in-view::after {
			  background-color: white;
			  border-style: solid;
			  border-width: 5px;
			  border-color:  #5F7AB0;
			}

			.timeline ul li div {
			  visibility: hidden;
			  opacity: 0;
			  transition: all .5s ease-in-out;
			}

			.timeline ul li:nth-child(odd) div {
			  transform: translate3d(15px, 0, 0);
			}

			.timeline ul li:nth-child(even) div {
			  transform: translate3d(-15px, 0, 0);
			}

			.timeline ul li.in-view div {
			  transform: none;
			  visibility: visible;
			  opacity: 1;
			}

			/* GENERAL MEDIA QUERIES –––––––––––––––––––––––––––––––––––––––––––––––––– */

			@media screen and (min-width: 900px) {
			  .timeline ul li div {
			    width: 400px;
			  }
			  .timeline ul li:nth-child(even) div {
			    right: 570px;
			    /*250+45-6*/
			  }

			  .timeline ul li:nth-child(odd) div {
			    	left: 200px;
				}
			}

			@media screen and (max-width: 900px) {
			  .timeline ul li div {
			    width: 250px;
			  }
			  .timeline ul li:nth-child(even) div {
			    left: -289px;
			    /*250+45-6*/
			  }

			  .timeline ul li:nth-child(odd) div {
			    left: 45px;
				}


			}

			@media screen and (max-width: 600px) {
			  .timeline ul li {
			    margin-left: 20px;
			  }
			  .timeline ul li div {
			    width: calc(100vw - 91px);
			  }
			  .timeline ul li:nth-child(even) div {
			    left: 45px;
			  }
			  .timeline ul li:nth-child(even) div::before {
			    left: -15px;
			    border-width: 8px 16px 8px 0;
			    border-color: transparent #F45B69 transparent transparent;
			  }

			}

		/* HOVER EFFECTS ----------------------------------------------------------------*/
		.grid {
			position: relative;
			clear: both;
			margin: 0 auto;
			max-width: 1000px;
			list-style: none;
			text-align: center;
		}

		.grid figure {
			position: relative;
			overflow: hidden;
			margin: 10px 1%;
			height: auto;
			background: #3085a3;
			text-align: center;
			cursor: pointer;
		}

		.grid figure img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 0.8;
		}

		/* edit text size here (inside box) */
		.grid figure figcaption {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		.grid figure figcaption::before,
		.grid figure figcaption::after {
			pointer-events: none;
		}

		.grid figure figcaption,
		.grid figure figcaption > a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.grid figure figcaption > a {
			z-index: 1000;
			text-indent: 200%;
			white-space: nowrap;
			font-size: 0;
			opacity: 0;
		}

		/*color of h2 headers on boxes */
		.comp p{
			background-color: white;
			padding: 1vw 1vw;
			font-family: 'Oswald', sans-serif;
		}

	

		/* change color of hover here*/
		figure.effect-apollo {
			background: black;
			border-color: #4757A3;
			border-width: 1%;
			border-style: solid;
			border-radius: 10px;
		}

		figure.effect-apollo img {
			opacity: 0.95;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: scale3d(1.05,1.05,1);
			transform: scale3d(1.05,1.05,1);
		}

		figure.effect-apollo figcaption::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.5);
			content: '';
			-webkit-transition: -webkit-transform 0.6s;
			transition: transform 0.6s;
			-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
		}

		figure.effect-apollo p {
			position: absolute;
			right: 0;
			font-size: 0.85vw;
			color: white;
			background-color: rgba(26,43,52,0.5);
			border-radius: 10px;
			display: inline;
			margin: 5em;
			padding: 1em 1em;
			max-width: 500px;
			/*border-left: 4px solid white;*/
			text-align: center;
			opacity: 0;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;
			bottom: 0;
			font-family: 'Roboto', sans-serif;
		}

		figure.effect-apollo p {
			position: absolute;
			right: 0;
			font-size: 2vw;
			color: white;
			background-color: rgba(26,43,52,0.5);
			border-radius: 10px;
			display: inline;
			margin: 5em;
			padding: 1em 1em;
			max-width: 500px;
			/*border-left: 4px solid white;*/
			text-align: center;
			opacity: 0;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;
			bottom: 0;
			font-family: 'Roboto', sans-serif;
		}

		
		figure.effect-apollo:hover img {
			opacity: 0.6;
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}

		figure.effect-apollo:hover figcaption::before {
			-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
		}

		figure.effect-apollo:hover p {
			opacity: 1;
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}


		/* BUTTON */
		
		.timeline .button {
  		  border: 0;
		  background-color: #4757A3;
          font-family: 'Oswald', sans-serif;
          letter-spacing: 3px;
		  border-radius:5px;
		  height: auto;
		  width: 9vw;
		  color: white;
		  padding: 0.3vw;
		  font-weight: bold;
		  font-size: 0.8vw;
		  display: inline-block;
		  box-shadow: 1px 0px #1F2326, 0px 1px #3D4449, 2px 1px #1F2326, 1px 2px #3D4449, 3px 2px #1F2326, 2px 3px #3D4449, 4px 3px #1F2326, 3px 4px #3D4449, 5px 4px #1F2326, 4px 5px #3D4449, 6px 5px #1F2326, 5px 6px#3D4449;
		}

		.timeline .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
		  transform: translate(2px, 2px);
		  text-decoration: none;
		  box-shadow: 1px 0px #1F2326, 0px 1px #3D4449, 2px 1px #1F2326, 1px 2px #3D4449, 3px 2px #1F2326, 2px 3px #3D4449, 4px 3px #1F2326, 3px 4px #3D4449;
		  color: white;
		}
		
		.timeline button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
		  transform: translate(4px, 4px);
		  text-decoration: none;
		  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
		}

		p.transbox, .transbox {
			  font-size: 2vw;		
			  text-align: center;
			  letter-spacing: 1em;
			  line-height: 2em;		  
			  border-radius: 20px;
			  margin: 5% 5%;
			  padding: 2% 2%;
			  opacity: 0.9;
			  color: #2F2C46;
			  transition: background-color 0.5s ease, color 0.5s ease;
  			  background-color: rgba(250,250,250,0.5);
  			  
   			}

			p.transbox, .transbox:hover{			
				background-color: #2F2C46;
				color:white;
       		}

		.h{
			font-size:1vw;
			background-color: white;
			padding: 0.3vw 0.3vw; 
			border-radius: 4px; 
			font-family: 'Oswald', sans-serif; 
			letter-spacing: 6px; 
			max-width: 500px;
		}

			@media screen and (max-width: 500px) {
			figure.effect-apollo p{
				font-size: 1.5vw;
			}

			.timeline .button{
				font-size: 1.80vw;
				width: 20vw;
			}

			figure-caption{
				margin-top: 20%;
			}


			.h{
				font-size: 4vw;
				letter-spacing: 0px;
			}


		}

		@media screen and (min-width: 500px) {
			figure.effect-apollo p{
				font-size: 0.75vw;
			}

			.timeline .button{
				font-size: 0.6vw;
				width: 9vw;
			}

			figure-caption{
				margin-top: 20%;
			}
		}

		

